<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="dashboard" *ngIf="userDetails">
    <div class="col-sm-12">
      <h4>Welcome to Dashboard!</h4>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item">Display Name:
            {{userDetails['displayName']}}</li>
          <li class="list-group-item">Email: {{userDetails['email']}}</li>
          <li class="list-group-item">Is Email Verified:
            {{userDetails['emailVerified']}}</li>
          <li class="list-group-item">
            <button type="button" class="btn btn-danger"
                    (click)="logoutUser()">Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

